<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<% for(var i=0;i<data.length;i++){ %>
<p><%=i%>번째 test 컬럼 db 출력: <%=data[i].test %></p>
	<% } %>
<br>
<form action="/write" method="post">
	<table border="1">
		<tr>
			<td>테스트 데이터</td>
			<td><input type="text" name="test" id="test"/> </td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="submit">전송</button>
			</td>
		</tr>
	</table>
</form>

	<button type="button" onclick="location.href='/post'">DB Test</button>
  </body>
</html>

